<button><a href="/">Homepage</a></button>

<video controls width="250">
      <source src={{ link }} type="video/webm" />
</video>
<div>

{{#each comments }}

<div class="username"><p class="pname">{{ user.username }}:</p></div>

<div class="comments"><p>{{ comment_body }}</p></div>


{{/each}}


</div>