<div class="container-fluid">
  <h2 class="text-center">IMPROVE YOUR IMPROV</h2>
  <div class="scroll"></div>
  <div class="d-flex justify-content-center">
    {{!-- render video feed here --}}
    <button type="button" class="btn-dark">Create A Video</button>
  </div>
</div>
<script src="/homepage.js"></script>