 <section class="center-container">
  <h2>Login</h2>
  <form class="login-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button id="login-btn">Login</button>
  </form>

  {{!-- Create sign up Form! --}}
  
  <h2>Sign Up</h2>
  <form class="signup-form">
    <label for="newUsername">Username:</label>
    <input type="text" id="newUsername" name="newUsername" required>
    <br>
    <label for="newPassword">Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <br>
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" name="first-name" required>
    <br>
    <label for="last-name">Last Name:</label>
    <input type="text" id="last-name" name="last-name" required>
    <br>
    <button id="sign-up-btn">Sign Up</button>

  </form>

</section>
<script src="/js/login.js"></script>